
@media (min-width:720px){
    header {
        position: fixed;
        width: 100%;
        padding: 30px;
     
    }
    header .container {
        flex-direction: row;
        justify-content: space-between;
        height: 45px;
       
        
    }
    header nav {
        flex-direction: row;
        align-items: center;
        padding-bottom:0 ;
        font-size: 0.5em;
        padding-right: 20px;
    }
    header nav a {
        display:initial;
       
    }
    #programadores .container {
           display: flex;
           text-align: justify;
           gap: 1em;
           justify-content: space-evenly;
           
    }
    #programadores .texto{
        width: 50%;
        padding: 0px 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    #programadores .img-container {
        background-image: url("../imagenes/androdi-estudio.png");
        background-position: center center;
        background-size: cover;
        height: 400px;
        width: 40%;
        max-width: 600px;
      margin: 50px;
       
      
       
    }
    #caracteristicas {
        background-image: url("../imagenes/logo4.png");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 430px) 80px;
       
    }
    #caracteristicas .container {
        display: flex;
        text-align: initial;
     
      
        
    }
    #caracteristicas .detalles {
       padding: 0px 320px 0px 0px;
       
    }
   #Descripcion .programas {
    display: flex;
    justify-content: center;
   }
   #Descripcion  p {
     display: initial;
     padding:0 ; 
   }
 #Descripcion .texto h2, #Descripcion .texto p {
    margin: 0;
    padding: 10px 0; /* Ajusta el espaciado entre los elementos */
    word-wrap: break-word; /* Asegura que las palabras largas se dividan */
    word-break: break-word; /* Si hay palabras demasiado largas, se romperán en la siguiente línea */
    width: 100%; /* Asegura que el contenido ocupe todo el ancho del contenedor */
}

 
   

    
}


@media (max-width: 300px) {
    #hero .container-texto h1 {
        font-size: 1.2em;
        margin-bottom: 10px;
        padding-bottom:50px ;
    }

    #hero .boton2 {
        font-size: 0.8em;
        padding: 16px 22px;
    }
    header nav {
        padding-bottom: 5px;
    }
  header .container {
    justify-content: space-around;
  }
  header p.logo {
    flex-direction: column; /* Apila la imagen y el texto en una columna */
    align-items: center;
    text-align: center;
  }
  .footer-img img {
    max-width: 170px;
    height: auto;  
}
#programadores p {
    font-size: 1em;
}

#nuestras-aplicaciones button {
    font-size: 0.8em;
    padding: 6px 12px;
    
}
span {
   display: none; 
}
}

@media (min-width:1300px){
    #caracteristicas{
        background-position: calc(100vw - 800px) 80px;
    }
}
